# Analyze Study (Binary Classification)
- version 0.1
- 3.2.2026

## ToDo
- [done] Study details 
- [done] Target metric performance on all tasks 
- [done] Selected features summary
- [done] Model performance on test dataset for a given task
- AUCROC plots
- Individual test feature importances
- Merged test feature importances

## Imports

In [1]:
from octopus.predict import OctoPredict
from octopus.predict.notebook_utils import (
    show_selected_features,
    show_study_details,
    show_target_metric_performance,
    testset_performance_overview,
)

## Input

In [2]:
# INPUT: Select study
study_directory = "../studies/wf_octo_mrmr_octo/"

## Study Details

In [3]:
# Call the utility function to display and validate study details
study_info = show_study_details(study_directory, expected_ml_type="classification")

# Extract key variables for use in subsequent cells
# path_study = study_info["path"]
# config = study_info["config"]
# ml_type = study_info["ml_type"]
# n_folds_outer = study_info["n_folds_outer"]
# workflow_tasks = study_info["workflow_tasks"]
# outersplit = study_info["outersplit_dirs"]
# expected_task_ids = study_info["expected_task_ids"]
# octo_workflow_lst = study_info["octo_workflow_tasks"]

Selected study path: ../studies/wf_octo_mrmr_octo

Validate study....
ML Type: classification
Found 5 outersplit directory/directories
Expected outersplit IDs: [0, 1, 2, 3, 4]
All expected outersplit directories found
Expected workflow task IDs: [0, 1, 2]
Study has completed workflow tasks - all expected directories found

Information on workflow tasks in this study
Number of workflow tasks: 3
Task 0: octo
Task 1: mrmr
Task 2: octo
Octo workflow tasks: [0, 2]

## Target Metric Performance for all  Tasks

In [4]:
# Display performance (target metric) for all workflow tasks
feature_table, performance_tables = show_target_metric_performance(study_info, details=False)

Workflow task: 0
Available results keys: ['best']
Selected results key: best

,Task,Key,train_avg,dev_avg,test_avg,train_pool,dev_pool,test_pool
OuterSplit,,,,,,,,
0,0,best,1.000000,0.695751,0.654031,1.000000,0.696364,0.640554
1,0,best,0.988055,0.702480,0.670525,0.987525,0.701758,0.670318
2,0,best,0.919484,0.661212,0.663539,0.939724,0.660001,0.673005
3,0,best,1.000000,0.712161,0.652500,1.000000,0.710867,0.658333
4,0,best,0.996599,0.688055,0.670833,0.996914,0.684593,0.675000
Mean,0,best,0.980828,0.691932,0.662286,0.984832,0.690717,0.663442

Workflow task: 1
Available results keys: []
Workflow task: 2
Available results keys: ['best', 'ensel']
Selected results key: best

,Task,Key,train_avg,dev_avg,test_avg,train_pool,dev_pool,test_pool
OuterSplit,,,,,,,,
0,2,best,1.000000,0.714446,0.650682,1.000000,0.714493,0.617817
1,2,best,0.920360,0.715059,0.670442,0.929211,0.716931,0.731294
2,2,best,0.990847,0.675627,0.725424,0.995798,0.666822,0.754031
3,2,best,0.972664,0.754196,0.680000,0.983511,0.750356,0.687500
4,2,best,0.862951,0.711126,0.595833,0.871809,0.711423,0.612500
Mean,2,best,0.949364,0.714091,0.664476,0.956066,0.712005,0.680628

Selected results key: ensel

,Task,Key,train_avg,dev_avg,test_avg,train_pool,dev_pool,test_pool
OuterSplit,,,,,,,,
0,2,ensel,0.834478,0.654456,0.618709,0.944185,0.681139,0.676106
1,2,ensel,0.823831,0.657559,0.651230,0.880096,0.688168,0.670318
2,2,ensel,0.787147,0.614635,0.629756,0.857247,0.638655,0.650682
3,2,ensel,0.784045,0.665506,0.655754,0.847946,0.692824,0.679167
4,2,ensel,0.819572,0.656058,0.580000,0.840271,0.670770,0.575000
Mean,2,ensel,0.809814,0.649643,0.627090,0.873949,0.674311,0.650255

## Selected Features Summary

In [5]:
# Display the number of selected features across outer splits and tasks
# Returns two tables: feature counts and feature frequency
# sort_task parameter sorts the frequency table by the specified task
sort_by_task = None
feature_numbers_table, feature_frequency_table = show_selected_features(feature_table, sort_task=sort_by_task)

========================================
NUMBER OF SELECTED FEATURES
========================================
Rows: OuterSplit | Columns: Task ID | Values: Number of Features

           Task
Task          0   2
OuterSplit
0            30  15
1            30  15
2            30  15
3            30  15
4            30  15
Mean         30  15

========================================
FEATURE FREQUENCY ACROSS OUTER SPLITS
========================================
Rows: Features | Columns: Task ID | Values: Feature Frequency
Sorted by Task 0 frequency (highest first)

           Task
              0  2
Feature
feature_00    5  2
feature_01    5  3
feature_02    5  5
feature_03    5  0
feature_04    5  1
feature_05    5  0
feature_06    5  1
feature_07    5  0
feature_08    5  4
feature_09    5  1
feature_10    5  1
feature_11    5  3
feature_12    5  3
feature_13    5  5
feature_14    5  4
feature_15    5  3
feature_16    5  2
feature_17    5  2
feature_18    5  1
feature_19    5  4
feature_20    5  1
feature_21    5  2
feature_22    5  2
feature_23    5  4
feature_24    5  2
feature_25    5  2
feature_26    5  3
feature_27    5  4
feature_28    5  5
feature_29    5  5

## Model Performance on Test Dataset for a given Task

In [6]:
# Input: selected metrics for performance overview
metrics = ["AUCROC", "ACCBAL", "ACC", "F1", "AUCPR", "NEGBRIERSCORE"]
print("Selected metrics: ", metrics)

Selected metrics:  ['AUCROC', 'ACCBAL', 'ACC', 'F1', 'AUCPR', 'NEGBRIERSCORE']

### Test performance for given task and selected metrics

In [7]:
# load predictor object
task_predictor = OctoPredict(study_path=study_info["path"], task_id=0, results_key="best")
testset_performance = testset_performance_overview(predictor=task_predictor, metrics=metrics)

Loading available experiments ......
Outersplit0, task0 found.
Outersplit1, task0 found.
Outersplit2, task0 found.
Outersplit3, task0 found.
Outersplit4, task0 found.
5 experiment(s) out of 5 found.
Performance on test dataset (pooling)

              AUCROC    ACCBAL    ACC        F1     AUCPR  NEGBRIERSCORE
outersplit
0           0.779661  0.640554  0.690  0.491803  0.739346       0.203061
1           0.750310  0.670318  0.690  0.597403  0.699329       0.207333
2           0.756098  0.673005  0.680  0.619048  0.671229       0.219743
3           0.749583  0.658333  0.700  0.545455  0.704472       0.203279
4           0.756250  0.675000  0.710  0.579710  0.705946       0.206924
Mean        0.758380  0.663442  0.694  0.566684  0.704064       0.208068